.formInput {

    label {
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: bold;
    }

    input {
        padding: 5px;
        border: none;
        border-bottom: 1px solid gray;
    }
}