.sidebar {

    /* Estilo para navegadores webkit (Chrome, Safari) */
    ::-webkit-scrollbar {
        width: 6px;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: #999;
        /* Cambia esto al color que desees */
    }

    ::-webkit-scrollbar-track {
        background-color: transparent;
        /* Oculta el track cuando no esté en uso */
    }

    /* Estilo para navegadores Firefox */
    /* Nota: Firefox no admite la personalización del color del scrollbar directamente, pero puedes personalizar el track */
    /* En Firefox, el scrollbar se verá como el color de fondo del track */
    /* Puedes personalizar el track de la siguiente manera: */

    /* Track */
    ::-moz-scrollbar {
        width: 12px;
    }

    ::-moz-scrollbar-track {
        background-color: transparent;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;

        .title {
            font-weight: bold;
            font-size: 16px;
            color: #999;
            margin-top: 15px;
            text-align: left;
            margin-bottom: 5px;
        }

        .line {
            background-color: rgb(135, 135, 135, .5);
            height: .8px;
            margin: 10px 0px 0px;
        }

        li {
            display: flex;
            align-items: center;
            padding: 5px;
            cursor: pointer;

            &:hover {
                background-color: #ece8ff;
            }

            .icon {
                font-size: 22px;
                color: #7451f8;
            }

            span {
                font-size: 1.1em;
                font-weight: 600;
                color: #888;
                margin-left: 5px;
            }
        }
    }
}